<div class="app-todos">

  <!-- <app-new-todo (newTodo)="addTodo($event)"></app-new-todo> -->

  <div class="create">
    <button type="button" 
          class="btn btn-primary btn-create" (click)="openModal()">Create new todo
  </button>
  </div>

  <form>
    <div class="form-group">
      <input class="form-control" name="search" type="text" placeholder="Search..." autocomplete="off"
        [(ngModel)]="search">
    </div>
    <div class="group-priority">
      <input type="radio" name="priority" class="rb-priority" value="high" [(ngModel)]="priority">High priority
      <input type="radio" name="priority" class="rb-priority" value="medium" [(ngModel)]="priority">Medium priority
      <input type="radio" name="priority" class="rb-priority" value="low" [(ngModel)]="priority">Low priority
      <input type="radio" name="priority" class="rb-priority" value="" [(ngModel)]="priority">All
    </div>
  </form>


  <ul *ngIf="toDoList">
    <app-todo-item class="todo-item" *ngFor="let item of toDoList | filterBySearch:search | filterBYPriority:priority"
      [todo]="item" (delete)="deleteTodo($event)" (update)="updateTodo($event)">
    </app-todo-item>
  </ul>

  <div class="text-center">
    <span *ngIf="!toDoList">No Data.</span>
    <span *ngIf="toDoList?.length === 0">Todo list is empty.</span>
  </div>
</div>

