.is-done{
    text-decoration: line-through;
}

ul{
    margin-top: 50px;
    width: 93%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.rb-priority{
    margin-left: 15px;
}


.form-group{
    width: 90%;
}

.create{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-create{
    margin-top: 50px;
    width: 90%;
}

@media screen and (max-width: 320px) {
    .group-priority {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

