header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: 2px solid #000;
    min-height: 140px;
}
.app-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:#343a40;
    color: #fff;
}

@media screen and (max-width: 1024px){
    header{
        width: 100%;
    }
    .app-header{
        width: 100%;
    }
}