<li>
  <header>
    <div>
      <i class="material-icons" (click)="toggleToDo()">
        {{(todo.isDone) ? 'check_box' : 'check_box_outline_blank'}}
      </i>
      <h5 [appHighlight] = '"red"'>
        <span *ngIf="todo.isDone"><s>{{todo.title}}</s></span>
        <span *ngIf="!todo.isDone">{{todo.title}}</span>
        <span class="badge" [ngClass]="priorityObj[todo.priority]">Priority</span>
      </h5>
    </div>

    <div>
      <button class="btn btn-secondary" [disabled]="!todo.description" (click)="toggleDetails()">
        <span *ngIf="!isShowDetails">Show details</span>
        <span *ngIf="isShowDetails">Hide details</span>
      </button>
      <button class="btn btn-outline-danger" 
              (click)="deleteTodo(todo.id)">delete
      </button>
    </div>
  </header>

  <div *ngIf="isShowDetails">
    <p class="todo-description" *ngIf="todo.description">
      {{todo.description}}
    </p>
  </div>
</li>