button{
    margin: 5px;
}

header{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    width: 60%;
}
div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li{
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}