button{
    margin: 5px;
}

header{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    width: 60%;
}

div{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li{
    align-items: center;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    width: 100%;
}
