<div class="row">
  <div class="col">
    <div class="card user">
      <img src="https://randomuser.me/api/portraits/men/11.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Luciano Colin</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
        <a routerLink="1" class="btn btn-primary">More Details</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card user">
      <img src="https://randomuser.me/api/portraits/women/93.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Nanna Madsen</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
        <a routerLink="2" class="btn btn-primary">More Details</a>
      </div>
    </div>
  </div>
</div>