<app-header [title]="headerTitle" [subTitle]="headerSubTitle" (testOutput)="testOutputApp($event)">
</app-header>

<nav class="navbar navbar-dark bg-dark app-navbar">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link"
         href="toDoList">Todos</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link"
         href="about">About</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>



<app-main></app-main>

<app-footer>
  <h1>FOOTER</h1>
</app-footer>