form{
    margin-top: 10px;
}

.form-style{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.app-new-todo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inval-border{
    border-color: red;
}

.form-control{
    width: 100%;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}